*{
    padding: 0;
    margin: 0;
}
body{
    background: url(./regBGpic.jpg) no-repeat;
    background-size: cover;
}
#cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#regcont{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(6px);
    height: 48vh;
    padding-top: 12vh;
    border-radius: 1.5rem;
    border: 2px double #9ca6be;
    width: 37vw;
}
#inptext{
    padding: 1vh 1vw 1vh 0vw;
    border: none;
    width: 48vh;
    border-bottom: 2px solid black;
    text-align: start;
    font-size: 1.1em;
    background: transparent;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin-bottom: 2vh;
    outline: none;
}
    
#inptext::placeholder{
   color: rgb(0, 0, 0);
}
#inppassword{
    padding: 1vh 7vw 1vh 0vw;
    border: none;
    border-bottom: 2px solid black;
    text-align: start;
    font-size: 1.1em;
    background: transparent;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin-bottom: 2vh;
    outline: none;
}
#inppassword::placeholder{
    color: black;
}

#button{
    padding: 1vh 7.3vw 1vh 7.3vw;
    border: 2px double black;
    border-radius: 1rem;
    text-align: center;
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 2vh;
    cursor: pointer;
    transition: 700ms;
    outline: none;
    transition: 300ms;
}
#button:hover{
    background: linear-gradient(45deg, #0c8759, #25347e);
    filter: drop-shadow(0px 0px 10px #25347e);
}




#forget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    padding: 0 2vw 0 2vw;
}
#forget a{ 
    margin: 1em;
    font-size: 1.1em;
    color: white;
    outline: none;
    transition: 300ms;
}
#forget a:hover{
    color: #25347e;
}
#header{
    color: white;
    font-size: 2em;
    margin-bottom: 2vh;
    text-shadow: 3px 4px 4px black;
    font-family: sans-serif;
}