@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*  font-family: 'Anton', sans-serif; */
/*  font-family: 'Poppins'; */
* {
    padding: 0;
    margin: 0;
}

:root {
    --color: rgb(24, 24, 24);
    --background: rgb(24, 24, 24);
}

body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

#backdropCSS {
    background: rgb(24 24 24 / 39%);
    height: 670%;
    width: 100%;
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 57.3vh;
    left: -100vw;
    transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.first {
    z-index: 10000;
    text-align: center;
    background: rgb(24, 24, 24);
    background-attachment: fixed;
    width: 100%;
    height: fit-content;
    position: fixed;
    padding: 1vh 0 1vh 0;
}

.first span {
    color: rgba(166, 162, 162);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 2px;
}

#second {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    background-attachment: fixed;
    width: 100%;
    height: fit-content;
    padding: 2vh 0 2vh 0;
    margin: 5.7vh 0vw 0vh 0vw;
    z-index: 9999;
}

.left {
    width: 8vw;
    margin: 4vh 0vw 0vh 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left>span {
    font-size: 1.9em;
    font-family: fantasy;
    margin: -4px 0px 0px 0;
    color: rgb(24, 24, 24);
    cursor: pointer;
}

.flex1 {
    margin: -6px 0 0 0;
}

.flex1>span {
    font-weight: bold;
    font-family: fantasy;
    color: rgb(24, 24, 24);
}

.line1 {
    background: black;
    height: 1.5vh;
    width: 2vw;
    background: rgb(24, 24, 24);
}

.right {
    width: 28vw;
    margin: 0px 11vw 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#searchinp {
    border: none;
    padding: 15px 18px 10px 0px;
}

#searchinp:hover {
    border-bottom: 2px solid black;
    outline: none;
}

#searchinp:focus {
    outline: none;
    border-bottom: 2px solid black;
}

#searchinp::placeholder {
    color: rgb(24, 24, 24);
    font-size: 1.1em;
}

#ico-search {
    position: absolute;
    cursor: pointer;
    top: 5.5vh;
    right: 25vw;
}


.cart_txt {
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

.cart_txt:hover {
    color: rgb(73, 72, 72);
}

#cart_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 27vw;
    height: 95.3vh;
    background: #ffffff;
    position: fixed;
    top: 5vh;
    right: -30vw;
    z-index: 9999;
    transition: 600ms;
}


#cart_exit {
    position: absolute;
    color: white;
    transform: scale(1.7);
    cursor: pointer;
    top: 4vh;
    left: 2vw;
    z-index: 10002;
}

#cart_menu_top {
    background: var(--background);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    width: 100%;
    padding: 4vh 0 5.3vh 0;
    text-align: center;
    font-size: 1.4em;
    z-index: 10001;
}

#cart_menu_bottom {
        font-size: 1.3em;
        color: var(--color);
        margin: -60vh 0vw 0vh 0vw;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        overflow: overlay;
        padding-top: 63vh;
}

#login {
    cursor: pointer;
    scale: 1.5
}

#login_txt {
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#login_txt:hover {
    color: rgb(73, 72, 72);
}

#nav_bar {
    scale: 2;
    margin: 0 -26px 0px 0px;
    padding: 0 0px 0 8px;
    cursor: pointer;
}

#right_nav_bar {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
    font-size: 1.1em;
    padding: 0vh 0vw 0vh 0vw;
    width: 30vw;
    height: 97vh;
    top: 0;
    right: -30vw;
    transition: 600ms;
}

#right_nav_bar>a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 100ms;
    margin: 3vh;
}

#right_nav_bar>a:hover {
    color: rgb(86 81 81);
}

#closeico {
    position: absolute;
    color: white;
    top: 15px;
    right: 14px;
    cursor: pointer;
    filter: brightness();
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--background);
    height: fit-content;
    padding: 10vh 0 9vh 0;
    margin: 7vh 0 0 0;
}

.footerleft {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 0 4vw 0 4vw;
}

.left_inner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 2vw 0vh 9vw;
}

.left_inner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_inner1_txt {
    color: white;
    font-family: monospace;
    text-decoration: none;
    width: 13vw;
    text-align: center;
    height: 4vh;
    transition: 200ms;
}

.left_inner2_txt {
    color: white;
    font-family: monospace;
    text-decoration: none;
    width: 13vw;
    text-align: center;
    height: 4vh;
    transition: 200ms;
}

.left_inner1_txt:hover {
    color: blueviolet;
}

.left_inner2_txt:hover {
    color: blueviolet;
}

.footerright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0 20vw 0 0;
}

.right_inner_txt1 {
    color: white;
    font-family: monospace;
    margin: 0 0 2vh -7.3vw;
}

#email {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px rgb(255, 64, 64) solid;
    outline: none;
    padding: 1vh 3vw 0vh 0vw;
    background: transparent;
    font-size: 1.1em;
    color: rgb(185, 174, 174);
    margin: 0 0 4vh 0;
}

#email:focus {
    border-bottom: 4px rgb(255, 255, 255) solid;
}

#sub {
    background: white;
    color: var(--color);
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    border: none;
    width: 8vw;
    height: 7vh;
    margin: -2vh 0vw 0vh 0.3vw;
    position: absolute;
    cursor: pointer;
    transition: 300ms;
}

#sub:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.icons {
    margin: 0vh 0vw 0vh -10vw
}

.logos {
    color: white;
    margin: 0vh 0.3vw 0vh 0vw;
    transform: scale(1.3);
    cursor: pointer;
    transition: 600ms;
}

#fbook:hover {
    color: rgb(31, 123, 242);
}

#insta:hover {
    color: rgb(181, 56, 146);
}

#pint:hover {
    color: rgb(231, 8, 42);
}

#tube:hover {
    color: rgb(255, 8, 8);
}

#twit:hover {
    color: rgb(36, 163, 241);
}

.underfooter {
    background: rgb(46, 45, 45);
    color: rgb(139, 136, 136);
    text-align: center;
    font-size: 15px;
    padding: 2vh 0 2vh 0;
}

.underfooter a {
    color: rgb(139, 136, 136);
}
#all_posts{
    margin: 0 0 0 12vw;
}

#all_posts:hover {
    color: var(--hovercolor);
}

#blog_search {
    margin: 0.5vh 0.1vw 0vh 0vw;
    cursor: var(--poi);
}

#blog_top_inp {
    border: 1px solid black;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1vh 0 1vh 1.5vw;
}

#opened_search {
    position: absolute;
    margin: -3.5vh 0vw 0vh 0.3vw;
}

#blogtop {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 100%;
}

#blogcont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#icon {
    margin: 6.9vh 12vw 0vh 0vw;
}

#close {
    margin: -3.6vh 0vw 0 12.5vw;
    position: absolute;
    transform: scale(1.2);
    cursor: var(--poi);
}

.div4CSS {
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.7);
}

.userIcoCSS {
    height: 35px;
    width: 35px;
    margin: 4vh 0vw 0vh 6.5vw;
}

.lineCSS {
    background: rgb(209, 209, 209);
    height: 1px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-top: 8vh;
}

.roleCSS {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;

}

#role1 {
    margin: -5vh 0vw 0vh 9.5vw;
}

#role2 {
    margin: -5vh 0 0 9.5vw;
}

#role3 {
    margin: -5vh 0vw 0vh 9.5vw;
}

#role4 {
    margin: -5vh 0vw 0vh 21.5vh;
}

.roleIcoCSS {
    height: 15px;
    width: 15px;

}

#roleIco1 {
    margin: -2.4vh 0vw 0vh 12.2vw;
}

#roleIco2 {
    margin: -2.4vh 0 0 11.6vw;
}

#roleIco3 {
    margin: -2.4vh 0vw 0vh 14vw;
}

#roleIco4 {
    margin: -2.5vh 0vw 0vh 26vh;
}

.date_timeCSS {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
}

#date1 {
    margin: 0vh 0vw 0vh 9.5vw;
}

#date2 {
    margin: 0vh 0vw 0vh 9.5vw;
}

#date3 {
    margin: -0.3vh 0vw 0vh 9.5vw;
}

#date4 {
    margin: 0vh 0vw 0vh 9.7vw;
}

.text1CSS {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: baseline;
    margin: 5vh 0vw 3vh 6.4vw;
    transition: 200ms;
    cursor: var(--poi);
}

:root {
    --hovercolor: rgb(27, 8, 134);
    --poi: pointer;
}

.text1CSS:hover {
    color: var(--hovercolor);
}

.text2CSS {
    color: rgb(173, 174, 144);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    vertical-align: baseline;
    margin: 0vh 0vw 0vh 6.2vw;
    transition: 200ms;
    cursor: var(--poi);
}

.text2CSS:hover {
    color: var(--hovercolor)
}

.text2CSS:hover .text1CSS {
    color: var(--hovercolor)
}

.viewsCSS {

    cursor: var(--poi);
}

#views1 {
    font-size: 12px;
    color: RGB(24, 24, 24);
    font-family: sans-serif;
    font-weight: 400;
    margin: -8.7vh 0vw 6.4vh 8vw;
}

#views2 {
    font-size: 12px;
    color: RGB(24, 24, 24);
    font-family: sans-serif;
    font-weight: 400;
    margin: -8.7vh 0vw 6.4vh 8vw;
}

#views3 {
    font-size: 12px;
    color: RGB(24, 24, 24);
    font-family: sans-serif;
    font-weight: 400;
    margin: -8.7vh 0vw 6.4vh 8vw;
}

#views4 {
    font-size: 12px;
    color: RGB(24, 24, 24);
    font-family: sans-serif;
    font-weight: 400;
    margin: -6.7vh 0vw 0vh 8vw;
}

.comentCSS {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    cursor: var(--poi);
    transition: 200ms;
}

#coment1 {
    margin: -8.7vh 0vw 14vh 12vw;
}

#coment2 {
    margin: -8.7vh 0vw 14vh 12vw;
}

#coment3 {
    margin: -8.7vh 0vw 14vh 12vw;
}

#coment4 {
    margin: -2.3vh 0vw 0vh 12vw;
}

.comentCSS1:hover {
    color: var(--hovercolor);
}

.likesCSS {
    cursor: var(--poi);
    margin-bottom: 10vh;
    font-family: sans-serif;
    font-size: 15px;
}

#likes1 {
    margin: -16.4vh 0vw 14vh 66vw;
}

#likes2 {
    margin: -16.4vh 0vw 14vh 66vw;
}

#likes3 {
    margin: -16.4vh 0vw 14vh 66vw;
}

#likes4 {
    margin: -2.4vh 0vw 0vh 66vw;
}

.fa-regular {
    height: 3vh;
    width: 1.3vw;
    cursor: var(--poi);
    transition: 400ms;
}

#likeIcon1 {
    margin: -16.7vh 0vw 14vh 67vw;
    position: absolute;
}

#likeIcon2 {
    margin: -16.7vh 0vw 14vh 67vw;
    position: absolute;
}

#likeIcon3 {
    margin: -16.7vh 0vw 14vh 67vw;
    position: absolute;
}

#likeIcon4 {
    margin: -2.8vh -1vw 0vh 67vw;
    position: absolute;
}

.likeIconClicked {
    background: url('nav_pages\video_image-uL_0zU8Te (1).jpeg');
    background-size: cover;
    height: 3vh;
    width: 1.3vw;
    cursor: var(--poi);
}

.insideparentCSS {
    margin: 0 auto;
}

.fa-solid {
    color: red;
    transition: 400ms;
}





@media (max-width : 1200px) {
    .right {
        width: 35vw;
        margin: 0px 11vw 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #ico-search {
        position: absolute;
        cursor: pointer;
        top: 5.5vh;
        right: 30vw;
    }

    /* Only for specific pages-------------------- */
    #role1 {
        margin: -6vh 0vw 0vh 10vw;
    }

    #role2 {
        margin: -6vh 0vw 0vh 10vw;
    }

    #role3 {
        margin: -6vh 0vw 0vh 10vw;
    }

    #role4 {
        margin: -6vh 0vw 0vh 23.5vh;
    }

    #roleIco1 {
        margin: -3vh 0vw 0vh 13vw;
    }

    #roleIco2 {
        margin: -3.2vh 0vw 0vh 12.3vw;
    }

    #roleIco3 {
        margin: -3vh 0vw 0vh 14.8vw;
    }

    #roleIco4 {
        margin: -2.8vh 0vw 0vh 29vh;
    }

    #date1 {
        margin: -0.3vh 0vw 0vh 10vw;
    }

    #date2 {
        margin: -0.3vh 0vw 0vh 10vw;
    }

    #date3 {
        margin: -0.3vh 0vw 0vh 10vw;
    }

    #coment1 {
        margin: -9.3vh 0vw 14vh 14vw;
    }

    #coment2 {
        margin: -9.3vh 0vw 14vh 14vw;
    }

    #coment3 {
        margin: -9.1vh 0vw 14vh 14vw;
    }

    #coment4 {
        margin: -2.7vh 0vw 0vh 14vw;
    }

    #views1 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 10vw;
    }

    #views2 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 10vw;
    }

    #views3 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 10vw;
    }

    #views4 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -6.7vh 0vw 0vh 10vw;
    }

    #likeIcon1 {
        margin: -17.4vh 0vw 14vh 76vw;
        position: absolute;
    }

    #likeIcon2 {
        margin: -17.4vh 0vw 14vh 76vw;
        position: absolute;
    }

    #likeIcon3 {
        margin: -17.4vh 0vw 14vh 76vw;
        position: absolute;
    }

    #likeIcon4 {
        margin: -2.9vh -1vw 0vh 76vw;
        position: absolute;
    }

    #likes1 {
        margin: -16.9vh 0vw 14vh 75vw;
    }

    #likes2 {
        margin: -16.9vh 0vw 14vh 75vw;
    }

    #likes3 {
        margin: -16.9vh 0vw 14vh 75vw;
    }

    #likes4 {
        margin: -2.4vh 0vw 0vh 75vw;
    }

    #close {
        margin: -4.4vh 0vw 0 13.9vw;
        position: absolute;
        transform: scale(1.2);
        cursor: var(--poi);
    }

    #opened_search {
        position: absolute;
        margin: -4.4vh 0vw 0vh 0vw;
    }

}

@media (max-width: 1024px) {
    .right {
        width: 34vw;
        margin: 0px 11vw 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #ico-search {
        position: absolute;
        cursor: pointer;
        top: 5.5vh;
        right: 28vw;
    }

    /* /* Only for specific pages-------------------- */

    #role1 {
        margin: -6vh 0vw 0vh 10.5vw;
    }

    #role2 {
        margin: -6vh 0vw 0vh 10.5vw;
    }

    #role3 {
        margin: -6vh 0vw 0vh 10.5vw;
    }

    #role4 {
        margin: -6vh 0vw 0vh 21.5vh;
    }

    #roleIco1 {
        margin: -3vh 0vw 0vh 14vw;
    }

    #roleIco2 {
        margin: -3vh 0vw 0vh 13.2vw;
    }

    #roleIco3 {
        margin: -3vh 0vw 0vh 16vw;
    }

    #roleIco4 {
        margin: -3vh 0vw 0vh 27.5vh;
    }

    #date1 {
        margin: -0.3vh 0vw 0vh 10.5vw;
    }

    #date2 {
        margin: -0.3vh 0vw 0vh 10.5vw;
    }

    #date3 {
        margin: -0.3vh 0vw 0vh 10.5vw;
    }

    #date4 {
        margin: 0vh 0vw 0vh 10.4vw;
    }

    #coment1 {
        margin: -9.3vh 0vw 14vh 16vw;
    }

    #coment2 {
        margin: -9.3vh 0vw 14vh 16vw;
    }

    #coment3 {
        margin: -9.3vh 0vw 14vh 16vw;
    }

    #coment4 {
        margin: -2.8vh 0vw 0vh 16vw;
    }

    #views1 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 11vw;
    }

    #views2 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 11vw;
    }

    #views3 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 11vw;
    }

    #views4 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -6.7vh 0vw 0vh 11vw;
    }

    #likeIcon1 {
        margin: -17.5vh 0vw 14vh 88vw;
        position: absolute;
    }

    #likeIcon2 {
        margin: -17.5vh 0vw 14vh 88vw;
        position: absolute;
    }

    #likeIcon3 {
        margin: -17.5vh 0vw 14vh 88vw;
        position: absolute;
    }

    #likeIcon4 {
        margin: -3.5vh -1vw 0vh 88vw;
        position: absolute;
    }

    #likes1 {
        margin: -16.4vh 0vw 14vh 87vw;
    }

    #likes2 {
        margin: -16.4vh 0vw 14vh 87vw;
    }

    #likes3 {
        margin: -16.4vh 0vw 14vh 87vw;
    }

    #likes4 {
        margin: -2.4vh 0vw 0vh 87vw;
    }

    #close {
        margin: -3.6vh 0vw 0 15.9vw;
        position: absolute;
        transform: scale(1.2);
        cursor: var(--poi);
    }

    #opened_search {
        position: absolute;
        margin: -4.2vh 0vw 0vh 0vw;
    }

    .left>span {
        font-size: 1.9em;
        font-family: fantasy;
        margin: -4px 1vw 0px 0;
        color: rgb(24, 24, 24);
        cursor: pointer;
    }
}

@media (max-width: 768px) {

    .right {
        width: 54vw;
        margin: 0px 11vw 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #searchinp {
        border: none;
        padding: 15px 0px 10px 0px;
    }

    #cart_count {
        border-radius: 50%;
        height: 11px;
        width: 11px;
        font-size: 10px;
        margin: 0 1vw 0 0;
        cursor: pointer;
    }

    .left_inner2_txt {
        color: white;
        font-family: monospace;
        text-decoration: none;
        width: 21vw;
        text-align: center;
        transition: 200ms;
    }

    #sub {
        background: white;
        color: var(--color);
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        border: none;
        font-size: 10px;
        width: 8vw;
        height: 7vh;
        margin: -2vh 0vw 0vh 0.3vw;
        position: absolute;
        cursor: pointer;
        transition: 300ms;
    }

    #ico-search {
        position: absolute;
        cursor: pointer;
        top: 5.5vh;
        right: 42vw;
    }

    /* /* Only for specific pages-------------------- */
    #role1 {
        margin: -6vh 0vw 0vh 12vw;
    }

    #role2 {
        margin: -5vh 0vw 0vh 11.5vw;
    }

    #role3 {
        margin: -5vh 0vw 0vh 11.5vw;
    }

    #role4 {
        margin: -6vh 0vw 0vh 17.5vh;
    }

    #roleIco1 {
        margin: -3.1vh 0vw 0 16.9vw;
    }

    #roleIco2 {
        margin: -3vh 0vw 0vh 15.2vw;
    }

    #roleIco3 {
        margin: -3.3vh 0vw 0vh 19.2vw;
    }

    #roleIco4 {
        margin: -3vh 0vw 0vh 23.2vh;
    }

    #date1 {
        margin: 0vh 0vw 0vh 11.5vw;
    }

    #date2 {
        margin: 0vh 0vw 0vh 11.5vw;
    }

    #date3 {
        margin: 0vh 0vw 0vh 11.5vw;
    }

    #date4 {
        margin: 0vh 0vw 0vh 11.7vw;
    }

    #coment1 {
        margin: -9.2vh 0vw 14vh 19vw;
    }

    #coment2 {
        margin: -9.2vh 0vw 14vh 19vw;
    }

    #coment3 {
        margin: -9.2vh 0vw 14vh 19vw;
    }

    #coment4 {
        margin: -2.9vh 0vw 0vh 19vw;
    }

    #views1 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 12vw;
    }

    #views2 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 12vw;
    }

    #views3 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -8.7vh 0vw 6.4vh 12vw;
    }

    #views4 {
        font-size: 12px;
        color: RGB(24, 24, 24);
        font-family: sans-serif;
        font-weight: 400;
        margin: -6.7vh 0vw 0vh 12vw;
    }

    #likeIcon1 {
        margin: -17.3vh 0vw 14vh 87vw;
        position: absolute;
    }

    #likeIcon2 {
        margin: -17.3vh 0vw 14vh 87vw;
        position: absolute;
    }

    #likeIcon3 {
        margin: -17.3vh 0vw 14vh 87vw;
        position: absolute;
    }

    #likeIcon4 {
        margin: -3.3vh -1vw 0vh 87vw;
        position: absolute;
    }

    #likes1 {
        margin: -16.4vh 0vw 14vh 85.5vw;
    }

    #likes2 {
        margin: -16.4vh 0vw 14vh 85.5vw;
    }

    #likes3 {
        margin: -16.4vh 0vw 14vh 85.5vw;
    }

    #likes4 {
        margin: -2.4vh 0vw 0vh 85.5vw;
    }

    #close {
        position: absolute;
        transform: scale(1.2);
        margin: -3.6vh 0vw 0px 20.5vw;
        cursor: var(--poi);
    }

    #opened_search {
        position: absolute;
        margin: -3.8vh -1vw 0vh;
    }
}

@media (max-width:563px) {
    #closeico {
        position: absolute;
        color: white;
        top: 17px;
        right: 14px;
        cursor: pointer;
        filter: brightness();
    }

    .left>span {
        font-size: 1.9em;
        font-family: fantasy;
        margin: -4px 0px 0px 0;
        color: rgb(24, 24, 24);
        cursor: pointer;
        margin-right: 1vw;
    }

    #ico-search {
        position: absolute;
        cursor: pointer;
        top: 5.5vh;
        right: 48vw;
    }

    .right {
        width: 65vw;
        margin: 0px 11vw 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        margin: 0vh 0vw 0vh -24vw;
        width: 51%;
    }

    .left_inner2_txt {
        color: white;
        font-family: monospace;
        text-decoration: none;
        width: 24vw;
        text-align: center;
        transition: 200ms;
    }

    #sub {
        background: white;
        color: var(--color);
        font-family: sans-serif;
        font-weight: 400;
        text-align: center;
        border: none;
        font-size: 14px;
        width: 21vw;
        height: 7vh;
        margin: -2vh 0vw 0vh -7.7vw;
        position: absolute;
        cursor: pointer;
        transition: 300ms;
        position: absolute;
        left: 84vw;
        top: 690vh;
    }

    #sub:hover {
        background: transparent;
        color: white;
        border: 1px solid white;
    }

    #cart_menu_bottom {
        margin: 5vh 0 0 0;
        font-size: 1.3em;
        color: var(--color);
        font-family: sans-serif;
        font-size: 15px;
    }

    /* Only for specific pages-------------------- */
    #close {
        position: absolute;
        transform: scale(1.2);
        margin: -3.6vh 0vw 0px 28.5vw;
        cursor: var(--poi);
    }

    #role1 {
        margin: -5vh 0vw 0vh 13.5vw;
    }

    #role2 {
        margin: -5vh 0vw 0vh 13.5vw;
    }

    #role3 {
        margin: -5vh 0vw 0vh 13.5vw;
    }

    #role4 {
        margin: -7vh 0vw 0vh 15vh;
    }

    #roleIco1 {
        margin: -2.7vh 0vw 0vh 20.2vw;
    }

    #roleIco2 {
        margin: -3vh 0vw 0vh 18.4vw;
    }

    #roleIco3 {
        margin: -2.7vh 0vw 0vh 24.3vw;
    }

    #roleIco4 {
        margin: -3vh 0vw 0vh 21vh;
    }

    #date1 {
        margin: 0vh 0vw 0vh 13.5vw;
    }

    #date2 {
        margin: 0vh 0vw 0vh 13.5vw;
    }

    #date3 {
        margin: 0vh 0vw 0vh 13.5vw;
    }

    #date4 {
        margin: 0vh 0vw 0vh 13.4vw;
    }

    #coment1 {
        margin: -8.8vh 0vw 14vh 21vw;
    }

    #coment2 {
        margin: -8.8vh 0vw 14vh 21vw;
    }

    #coment3 {
        margin: -8.8vh 0vw 14vh 21vw;
    }

    #coment4 {
        margin: -2.5vh 0vw 0vh 21vw;
    }

    #likes1 {
        margin: -16.4vh 0vw 14vh 83.5vw;
    }

    #likes2 {
        margin: -16.4vh 0vw 14vh 83.5vw;
    }

    #likes3 {
        margin: -16.4vh 0vw 14vh 83.5vw;
    }

    #likes4 {
        margin: -2.4vh 0vw 0vh 83.5vw;
    }

    #likeIcon1 {
        margin: -16.9vh 0vw 14vh 85.5vw;
        position: absolute;
    }

    #likeIcon2 {
        margin: -16.9vh 0vw 14vh 85.5vw;
        position: absolute;
    }

    #likeIcon3 {
        margin: -16.9vh 0vw 14vh 85.5vw;
        position: absolute;
    }

    #likeIcon4 {
        margin: -2.9vh -1vw 0vh 85.4vw;
        position: absolute;
    }
}

.prd {
    background: red;
    height: 18vh;
    width: 19vw;
    margin: 4vh;
}

.cart_item_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.cart_item_info div:nth-child(1) {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}

.cart_item_info div:nth-child(2) {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}

.cart_item_info button:nth-child(3) {
    cursor: pointer;
    background: black;
    width: 2.8vw;
    height: 17.8px;
    border: none;
    border-radius: 10px;
    font-size: 9px;
    margin: 0vh 0vw 0vh 11vw;
    display: none;
    color: red;
}

.cart_item:hover .cart_item_info button:nth-child(3) {
    display: block;
}

.cart_item_info input:nth-child(4) {
    border: 1px solid black;
    outline: none;
    padding: 5px 3px 5px 3px;
}

.cart_item {
    display: flex;
    margin: 0vh 0vw 4vh 2vw;
    width: 23.97vw;
    transition: 400ms;
}

.cartIMG {
    height: 13vh;
}

.cart_total {
    width: 100%;
    background: #ffffff;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: sans-serif;
    filter: drop-shadow(6px 5px 8px black);
}